<!-- <app-server></app-server> -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- NO need of ngIf now . instead we can use router-outlet to specify the location of render -->
      <!-- <app-recepies *ngIf="loadedFeature==='recepie'"></app-recepies>
      <app-shopping-list *ngIf="loadedFeature!=='recepie'"></app-shopping-list> -->

     <router-outlet></router-outlet>
    </div>
  </div>
</div>


<hr>
Assignment
<div class="row">
  <div class="col-xs-12">
    <app-game-control (intervalFired)="intervalValFired($event)"></app-game-control>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-odd *ngFor="let oddNumber of oddNumbers"[number]="oddNumber"></app-odd>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <app-even *ngFor="let evenNumber of evenNumbers"[number]="evenNumber"></app-even>
  </div>
</div>


<app-assignment></app-assignment>
